.additional-products {
  font-size: $secondary-fs;
  line-height: 20px;
  border-top: 1px solid $border-color;
  padding-top: 25px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.additional-products__title {
  font-size: $title-h2-fs;
  line-height: $title-h2-lh;
  position: relative;
  padding-bottom: 35px;
  padding-top: 2px;

  &::after {
    display: block;
    content: "";
    background-color: $green;
    width: 100vw;
    height: 3px;
    position: absolute;
    top: 25%;
    left: 110%;
  }
}

.additional-products__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.additional-product-card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-color;
  padding-bottom: 14px;
  padding-top: 14px;

  &:first-of-type {
    padding-top: 12px;
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
    padding-bottom: 17px;
  }
}

.additional-product-card__title {
  font-size: $title-h5-fs;
  line-height: $title-h5-lh;
  align-self: flex-start;
  text-transform: uppercase;
  padding-left: 1px;
  padding-bottom: 13px;
}

.additional-product-card__table {
  font-size: $body-fs;
  line-height: 14px;
  width: 100%;
  border-spacing: 0;
  padding-bottom: 12px;
}

.additional-product-card__tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.additional-product-card__td {
  font-family: $alt-font;
  line-height: 16px;
  display: flex;

  &:last-child {
    margin-left: auto;
  }
}

@media (min-width: $tablet-width) {
  .additional-products {
    margin-bottom: 90px;
    border: none;
  }

  .additional-product-card {
    border: 1px solid $border-color;
    border-bottom: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 38px;
    padding-top: 25px;
    padding-bottom: 19px;

    &:first-of-type {
      padding-top: 22px;
      padding-bottom: 16px;
    }
  }

  .additional-products__title {
    font-size: $title-h1-fs;
    line-height: $title-h1-lh;
    padding-left: 38px;
    padding-top: 3px;

    &::after {
      top: 37%;
      left: calc(100% + 35px);
    }

    &::before {
      display: block;
      content: "";
      background-color: $green;
      width: 100%;
      height: 3px;
      position: absolute;
      top: 37%;
      left: -100%;
    }
  }

  .additional-products__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .additional-product-card__title {
    font-size: $title-h3-fs;
    line-height: $secondary-lh;
    width: 50%;
  }

  .additional-product-card__table {
    font-size: $secondary-fs;
    line-height: $secondary-lh;
    width: 50%;
  }

  .additional-product-card__td:first-of-type {
    width: 70%;
    padding-right: 6px;
  }

  .additional-product-card__td:last-of-type {
    width: 30%;
    margin-left: 30px;
    padding-right: 34px;
  }

  .additional-product-card__td {
    display: flex;
    justify-content: flex-end;
  }

  .additional-products-list {
    width: 100%;
    padding-top: 38px;
  }

  .additional-product-card__button {
    width: 632px;
    margin-bottom: 10px;
    margin-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: -140px;
    justify-content: flex-start;
    margin-bottom: 90px;
    padding-top: 20px;
  }

  .additional-product-card {
    flex-direction: row;
    padding-left: 0;
    padding-bottom: 4px;
    padding-top: 0;
    border-left: none;
    border-right: none;
  }

  .additional-product-card:first-of-type {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .additional-products__title {
    padding-left: 0;
    padding-top: 19px;
    padding-bottom: 30px;

    &::before {
      top: 52px;
      left: calc(-100% - 40px);
    }

    &::after {
      top: 52px;
      left: calc(100% + 37px);
    }
  }

  .additional-products-list {
    width: 50%;
    flex-grow: 1;
    margin-right: 77px;
  }


  .additional-product-card__title {
    width: 30%;
    align-self: center;
    padding-bottom: 0;
  }

  .additional-product-card__table {
    width: 40%;
    padding-bottom: 0;
  }

  .additional-product-card:nth-of-type(even) {
    padding-top: 5px;
    padding-bottom: 5px;

    .additional-product-card__table {
      padding-top: 6px;
      padding-right: 3px;
    }
  }

  .additional-product-card:nth-of-type(odd) {
    padding-top: 5px;

    .additional-product-card__table {
      padding-top: 6px;
    }
  }

  .additional-product-card__td:first-of-type {
    padding: 0;
    width: 70%;
    padding-left: 56px;
    justify-content: flex-start;
  }

  .additional-product-card__td:last-of-type {
    padding: 0;
    width: 30%;
    margin-left: 0;
    justify-content: flex-end;
    padding-right: 17px;
  }

  .additional-product-card__button {
    width: 27%;
    margin-left: 23px;
    margin-top: 11px;
  }
}
