.additional-products {
  font-size: $additional-products-fs;
  line-height: $additional-products-lh;
}

.additional-products__title {
  font-size: $alt-title-h2-fs;
  line-height: $alt-title-h2-lh;
  position: relative;

  &::before {
    display: block;
    content: "";
    background-color: $green;
    width: 53px;
    height: 3px;
    position: absolute;
    top: 14px;
    left: 248px;
  }
}

.additional-product-card {
  border-top: 1px solid $border-color;

  &:last-child {
    border-bottom: 1px solid $border-color;
  }
}

.additional-product-card__title {
  font-size: $alt-title-h3-fs;
  line-height: $alt-title-h3-lh;
}

.additional-product-card__table {
  font-size: $additional-products-table-fs;
  line-height: $additional-products-table-lh;
}
