.adress {
  font-size: $body-fs;
  line-height: $secondary-lh;
  background-color: $alt-bg-color;
}

.adress__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 26px;
}

.adress__title {
  font-size: $secondary-fs;
  line-height: $secondary-lh;
  margin-right: 19px;
  text-transform: uppercase;
}

.adress__map {
  @include box(100%, 363px);
}

@media (min-width: $tablet-width) {
  .adress {
    font-size: $secondary-fs;
    padding-top: 34px;
  }

  .adress__inner {
    padding-left: 69px;
    padding-right: 72px;
    padding-top: 5px;
  }

  .adress__title {
    font-size: $title-h3-fs;
    line-height: $title-h3-lh;
    width: 20%;
    padding-top: 7px;
  }

  .adress__text {
    width: 30%;
    padding-top: 7px;
    text-align: right;
  }

  .adress__city {
    display: block;
    padding-top: 20px;
  }

  .adress__map {
    margin-top: 29px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .adress {
    position: relative;
    padding-top: 0;
  }

  .adress__inner {
    width: 636px;
    position: absolute;
    z-index: 2;
    min-height: 201px;
    background-color: $white;
    top: 20%;
    left: 10%;
    padding-top: 69px;
    padding-bottom: 62px;
    padding-left: 76px;
    padding-right: 90px;
  }

  .adress__text {
    width: 31%;
    text-align: left;
  }
}
