.bonuses {
  margin-top: 40px;
  font-size: $secondary-fs;
  line-height: $secondary-lh;
  background-color: $bg-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px 289px;
  color: $white;
  min-height: 289px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.bonuses__text {
  padding-top: 57px;
  width: 60%;
  text-align: center;
  color: $white;
}

.bonuses__icon {
  padding-top: 64px;
  color: $white;
}

@media (min-width: $tablet-width) {
  .bonuses {
    width: 100%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    min-height: 200px;
    margin-top: 66px;
    flex-direction: row;
    align-items: flex-start;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .bonuses__icon {
    padding-top: 67px;
    width: 50%;
    padding-left: 91px;
  }

  .bonuses__text {
    width: 50%;
    text-align: left;
    padding-left: 69px;
    padding-top: 72px;
    align-self: flex-start;
    padding-right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .bonuses {
    width: 20%;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;
    min-height: 289px;
    margin-top: 37px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .bonuses__icon {
    padding: 0;
    padding-left: 35px;
    padding-top: 64px;
    padding-bottom: 58px;
  }

  .bonuses__text {
    padding: 0;
    width: 90%;
    padding-left: 26px;
    text-align: center;
  }
}
