.bonuses {
  font-size: $alt-fs;
  line-height: $alt-lh;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px 289px;
  color: $white;
}

.bonuses__text {
  color: $white;
}
