.copyright {
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 16px;
}

.copyright__creator-logo {
  color: $icons-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.copyright__creator-logo[href] {
  &:hover {
    color: $green;
  }

  &:active {
    color: $green;

    opacity: 0.3;
  }
}

.copyright__text {
  color: $color-text;
  font-family: $alt-font;
  line-height: 16px;
  margin-right: auto;
}

.copyright__text[href] {
  &:hover {
    color: $color-text;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  margin-right: -8px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33%;
    padding-left: 0;
    padding-top: 0;
    padding-right: 9px;
    padding-bottom: 15px;
  }

  .copyright__creator-logo {
    margin-right: -7px;
    padding-top: 4px;
    width: auto;
  }

  .copyright__text {
    padding-top: 0;
    margin-right: 14px;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-bottom: 18px;
  }

  .copyright__text {
    margin-top: 9px;
  }
}
