.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.copyright__creator-logo {
  color: $icons-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;

    opacity: 0.3;
  }
}

.copyright__text {
  color: $color-text;
  font-family: $alt-font;
  line-height: 16px;
  margin-right: auto;

  &:hover {
    color: $color-text;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33%;
  }

  .copyright__text {
    margin-right: 23px;
    white-space: nowrap;
  }
}
