.demonstration {
  font-size: $body-fs;
  line-height: 18px;
  background-color: $alt-bg-color;
}

.demonstration__title {
  font-size: $title-h1-fs;
  line-height: $title-h1-lh;
  color: $base-color;
}

.stats-list__item {
  &:first-of-type {
    border-bottom: none;
  }
  border: solid 1px $border-color;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.stats-list__value {
  text-transform: uppercase;
  font-size: $title-h2-fs;
  line-height: $title-h2-lh;
}

.stats-list__subtitle {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  font-family: $alt-font;
  font-size: 12px;
  line-height: 12px;
  background-color: $alt-bg-color;
}

.demonstration__caption {
  text-transform: uppercase;
  line-height: 20px;
}

.progress__input {
  display: none;
}

.progress__slider-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.progress__slider-button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
}

.progress__slider-button:hover {
  border-bottom: 1px solid $color-text;
}

.progress__slider-line {
  @include box(84px, 14px);
  background-color: $bg-color;
  border-radius: $slider-line-br;
  border: 1px solid $border-color;
  position: relative;
}

.progress__slider-thumb {
  @include box(35px, 6px);
  background-color: $green;
  border-radius: $slider-thumb-br;
  position: absolute;
  top: 25%;
  left: 6px;
}
