.explanation {
  font-size: $body-fs;
  line-height: $body-lh;
  padding-bottom: 20px;
  counter-reset: product;
}

.explanation__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 6px;
}

.explanation__title {
  font-size: $title-h1-fs;
  line-height: $title-h1-lh;
  padding-bottom: 28.5px;
}

.explanation__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.explanation-list__text {
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    display: block;

    @include box(60px, 60px);
    background-color: $green;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.explanation-list__text--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.explanation-list__text--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.explanation-list__text--cultery {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.explanation-list__text--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .explanation {
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 0;
  }

  .explanation__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .explanation-list__item {
    width: 34%;
    display: flex;
    margin-bottom: 19%;
    padding-right: 33px;

    &:nth-child(2n) {
      margin-left: 20.5%;
      padding: 0;

      .explanation-list__text::after {
        left: 46%;
      }
    }
  }

  .explanation__title {
    font-size: $big-title-fs;
    line-height: $title-h1-lh;
    padding-bottom: 72px;
  }

  .explanation-list__text {
    flex-direction: column;
    position: relative;
    font-size: $secondary-fs;
    line-height: 24px;

    &::before {
      @include box(80px,80px);
      margin-bottom: 30px;
    }

    &::after {
      display: block;
      font-size: 281px;
      line-height: 1px;
      color: $base-color;
      opacity: 0.1;
      position: absolute;
      top: 55%;
      left: 57%;
      font-family: $main-font;
    }
  }

  .explanation-list__text--leaf::after {
    counter-increment: product;
    content: counter(product);
  }

  .explanation-list__text--powder::after {
    counter-increment: product;
    content: counter(product);
  }


  .explanation-list__text--cultery::after {
    counter-increment: product;
    content: counter(product);
  }

  .explanation-list__text--clock::after {
    counter-increment: product;
    content: counter(product);
  }
}

@media (min-width: $desktop-width) {
  .explanation {
    margin-left: 15.6%;
    padding-right: 43px;
    padding-top: 3%;
  }

  .explanation__inner {
    padding-left: 5px;
    padding-right: 0;
  }

  .explanation__title {
    font-size: 67px;
    padding-bottom: 83px;
  }

  .explanation__list {
    justify-content: space-between;
  }

  .explanation-list__item {
    width: 25%;
    margin-right: -5%;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-left: 0;

      .explanation-list__text::after {
        left: 46%;
      }
    }
  }

  .explanation-list__text {
    width: 80%;
    font-size: 18px;

    &::before {
      width: 90px;
      height: 90px;
      margin-bottom: 40px;
    }

    &::after {
      font-size: 313px;
      top: 56%;
      left: 54%;
    }
  }
}
