.footer {
  background-color: $alt-bg-color;
  color: $color-text;
  font-size: $secondary-fs;
  line-height: $secondary-lh;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.footer__logo-link {
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo-link {
    padding-top: 27px;
    width: 33%;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-bottom: 62px;
    margin-top: -31px;
  }

  .footer__inner {
    padding-top: 35px;
  }

  .footer__logo-link {
    padding-top: 13px;
  }
}
