.form {
  font-size: $secondary-fs;
  line-height: $secondary-lh;
  color: $label-color;
  overflow: hidden;
}

.form__text {
  font-size: $body-fs;
  text-transform: uppercase;
  color: $base-color;
  padding-right: 5%;
  padding-top: 35px;
  padding-bottom: 39px;
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.form__pet-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}
// не знаю как сделать чтобы цирина была auto и не уезжал блок
.form__legend {
  font-size: $title-h2-fs;
  font-family: $title-h2-lh;
  position: relative;
  padding-left: 0;
  padding-bottom: 35px;

  &::after {
    content: "";
    display: block;

    @include box(100vw, 3px);
    background-color: $green;
    position: absolute;
    top: 12px;
    left: 90%;
  }
}

.form__item-list {
  width: 100%;
}

.form__list-item {
  padding-bottom: 26px;
}

.form__label {
  text-transform: uppercase;
  position: relative;
  margin-right: 5%;
}

.form__label--checkable {
  padding-left: 46px;
}


.form__input {
  border: 1px solid $border-color;
  text-transform: uppercase;
  margin-bottom: 14px;
  height: 45px;
  flex-grow: 1;
  width: 60%;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;

  &:focus {
    border-color: $base-color;
  }

  &:invalid {
    border-color: $invalid;
  }
}

.form__input--radio + .form__label {
  &::before {
    content: "";
    display: block;

    @include box(30px, 30px);
    border-radius: 50%;
    border: 1px solid $border-color;
    background-color: transparent;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.form__input--radio + .form__label:hover {
  &::before {
    box-shadow: $checkable-inputs-bs;
  }
}

.form__input--radio + .form__label:active {
  opacity: 0.3;
}

.form__input--radio:checked + .form__label:active {
  opacity: 0.3;

  &::after {
    content: "";
    display: block;
    background-color: $green;

    @include box(8px);
    border-radius: 50%;
    top: 11px;
    left: 11px;
  }
}

.form__input--radio:checked + .form__label {
  &::before {
    border-color: $green;
  }

  &::after {
    content: "";
    display: block;
    background-color: $green;

    @include box(8px);
    border-radius: 50%;
    top: 11px;
    left: 11px;
  }
}

.form__input-w-icon {
  position: relative;
  display: flex;
  width: 100%;
}

.form__input-icon {
  position: absolute;
  top: 20%;
  left: 85%;
}

.form__input:focus + .form__input-icon {
  color: $green;
}

.form__input:valid + .form__input-icon {
  color: $green;
}

.form__input:invalid + .form__input-icon {
  color: $invalid;
}

.form__textarea {
  border: 1px solid $border-color;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;

  @include box(280px, 150px);
  resize: none;
}

.form__input--checkbox + .form__label {
  &::before {
    content: "";
    display: block;

    @include box(30px, 30px);
    border: 1px solid $border-color;
    background-color: transparent;
    color: $green;
    position: absolute;
    top: -3px;
    left: 0;
  }
}

.form__input--checkbox + .form__label:hover {
  &::before {
    box-shadow: $checkable-inputs-bs;
  }
}

.form__input--checkbox + .form__label:active {
  opacity: 0.3;
}

.form__input--checkbox:checked + .form__label:active {
  opacity: 0.3;

  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 17px;
    top: 11px;
    left: 0;
  }
}

.form__input--checkbox:checked + .form__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 17px;
  }
}

.form__explanation-text {
  font-size: $body-fs;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
  }

  .form__inner {
    width: $tablet-width;
    padding-left: 68px;
    padding-right: 67px;
  }

  // такой большой паддинг справа пишу потому что не понимаю из за чего если задавать в процентах меняется сам падиинг при увеличении окна
  .form__text {
    padding-left: 70px;
    padding-right: 435px;
  }

  .form__input {
    width: 75%;
  }

  .form__input-w-icon {
    padding-left: 68px;
    padding-right: 67px;
  }

  .form__textarea {
    width: 631px;
  }
  // не знаю как сделать так чтобы legend был width auto и чтобы
  .form__legend {
    font-size: $title-h1-fs;
    line-height: 36px;

    &::after {
      top: 20px;
      left: 53vw;
    }

    &::before {
      content: "";
      display: block;

      @include box(100vw, 3px);
      background-color: $green;
      position: absolute;
      top: 20px;
      left: -105vw;
    }
  }

  .form__item-list--additions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form__item-list--additions .form__list-item {
    width: 50%;
  }


  .form__button {
    width: 283px;
  }

  .form__explanation-text {
    padding-left: 61px;
  }

  .form__fieldset--data {
    border: none;
  }

  .form__fieldset--program {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form__inner {
    width: $desktop-width;
    padding-left: 114px;
  }

  .form__text {
    font-size: $title-h3-fs;
    line-height: 30px;
    padding-right: 1000px;
  }

  .form__input {
    width: 60%;
  }

  .form__fieldset {
    border: none;
    width: $desktop-width;
  }

  .form__inner--pet-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
  }

  .form__fieldset--data {
    width: 45%;
    padding-left: 0;
    margin-right: 10%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .form__fieldset--program {
    width: 45%;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 36px;

    .form__inner {
      padding-left: 28px;
    }
  }

  .form__pet-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .form__input {
      width: 70%;
      flex-grow: 1;
    }
  }

  .form__inner--pet-info-block {
    width: $desktop-width;
  }

  .form__list-item:last-child {
    padding-bottom: 0;
  }

  .form__inner--client-contacts {
    .form__fieldset {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 0;
    }
  }

  .form__input-w-icon {
    width: 45%;
    padding-right: 0;
    padding-left: 0;

    &:last-child {
      margin-left: 10%;
    }

    .form__input {
      width: 100%;
    }
  }

  .form__textarea {
    width: 1220px;
  }

  .form__item-list--additions {
    .form__list-item {
      width: 25%;
    }
  }

  .form__button {
    width: 589px;
  }
}
