.form {
  font-size: $secondary-fs;
  line-height: $secondary-lh;
  color: $label-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 19px;
}

.form__main-title {
  font-size: $title-h1-fs;
  line-height: $title-h1-lh;
  margin-top: 13px;
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form__text {
  font-size: $body-fs;
  text-transform: uppercase;
  width: 90%;
  color: $base-color;
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  padding-bottom: 24px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__fieldset--row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.form__legend {
  font-size: $title-h2-fs;
  font-family: $title-h2-lh;
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
  padding-top: 9px;

  &::after {
    content: "";
    display: block;

    @include box(100vw, 3px);
    background-color: $green;
    position: absolute;
    top: 0.8em;
    left: 120%;
  }
}
// legend контактные данные владельца слишком большой поэтому меняю width
.form__legend--w-70 {
  width: 70%;

  &::after {
    left: 110%;
  }
}

.form__item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__list-item {
  padding-bottom: 26px;
}

.form__label {
  text-transform: uppercase;
  position: relative;
  margin-right: 15px;
}

.form__label--checkable {
  padding-left: 46px;
}


.form__input {
  border: 1px solid $border-color;
  text-transform: uppercase;
  height: 45px;
  padding-left: 17px;
  width: 60%;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  flex-grow: 1;
  flex-shrink: 0;

  &:focus {
    border-color: $base-color;
  }

  &:invalid {
    border-color: $invalid;
  }
}
// длиннюшие костыли
.form__input:first-of-type {
  flex-grow: 3;
  min-width: 80%;
}

.form__input:nth-of-type(2) {
  flex-grow: 2;
  min-width: 70%;
}
// мне кажется это совсем не верно,но тогда как спозиционировать,по другому?


.form__input--radio + .form__label {
  &::before {
    content: "";
    display: block;

    @include box(30px, 30px);
    border-radius: 50%;
    border: 1px solid $border-color;
    background-color: transparent;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.form__input--radio + .form__label:hover {
  &::before {
    box-shadow: $checkable-inputs-bs;
  }
}

.form__input--radio + .form__label:active {
  opacity: 0.3;
}

.form__input--radio:checked + .form__label:active {
  opacity: 0.3;

  &::after {
    content: "";
    display: block;
    background-color: $green;

    @include box(8px);
    border-radius: 50%;
    top: 11px;
    left: 11px;
  }
}

.form__input--radio:checked + .form__label {
  &::before {
    border-color: $green;
  }

  &::after {
    content: "";
    display: block;
    background-color: $green;

    @include box(8px);
    border-radius: 50%;
    top: 11px;
    left: 11px;
  }
}

.form__input--w-icon {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 0;
  align-items: center;
  border: none;
  margin-top: 19px;

  .form__input {
    padding-left: 12px;
    min-width: auto;
  }
}

.form__input-icon {
  position: absolute;
  top: 20%;
  right: 5%;
}

.form__input:focus + .form__input-icon {
  color: $green;
}

.form__input:valid + .form__input-icon {
  color: $green;
}

.form__input:invalid + .form__input-icon {
  color: $invalid;
}

.form__textarea {
  border: 1px solid $border-color;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 19px;
  padding-top: 12px;
  padding-left: 14px;

  @include box(100%, 150px);
  resize: none;
}

.form__input--checkbox + .form__label {
  &::before {
    content: "";
    display: block;

    @include box(30px, 30px);
    border: 1px solid $border-color;
    background-color: transparent;
    color: $green;
    position: absolute;
    top: -3px;
    left: 0;
  }
}

.form__input--checkbox + .form__label:hover {
  &::before {
    box-shadow: $checkable-inputs-bs;
  }
}

.form__input--checkbox + .form__label:active {
  opacity: 0.3;
}

.form__input--checkbox:checked + .form__label:active {
  opacity: 0.3;

  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 17px;
    top: 11px;
    left: 0;
  }
}

.form__input--checkbox:checked + .form__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 17px;
  }
}

.form__explanation-text {
  font-size: $body-fs;
  line-height: 16px;
  margin-top: 16px;
}

.form__item-list--row {
  padding-top: 20px;
}

.form__inner-submit-block {
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: $title-h3-fs;
    line-height: 30px;
  }

  .form__main-title {
    line-height: 60px;
    margin-top: 56px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: $big-title-fs;
  }

  .form__inner {
    padding-left: 40px;
    padding-top: 27px;
  }

  .form__text {
    font-size: inherit;
    width: 60%;
    padding-left: 39px;
  }

  .form__label {
    margin-top: -31px;
  }

  .form__item-list {
    margin-top: -7px;
    margin-left: -21px;
    padding-top: 8px;
  }

  .form__list-item {
    padding-bottom: 23px;
  }

  .form__list-item .form__label {
    margin-top: 0;
    padding-left: 57px;
  }

  .form__input--radio + .form__label::before {
    width: 40px;
    height: 40px;
  }

  .form__input--radio:checked + .form__label::after {
    width: 18px;
    height: 18px;
  }

  .form__input--radio:checked:active + .form__label::after {
    width: 18px;
    height: 18px;
  }

  .form__input {
    margin-bottom: 29px;
  }

  .form__input--w-icon {
    flex-grow: 1;
  }

  .form__fieldset {
    padding-right: 35px;
    border: none;
  }

  .form__fieldset--w-list {
    border: 1px solid $border-color;
  }

  .form__legend {
    font-size: $title-h1-fs;
    line-height: 36px;

    &::before {
      content: "";
      display: block;

      @include box(100%, 3px);
      background-color: $green;
      position: absolute;
      top: 20%;
      left: -105%;
    }
  }

  .form__button {
    width: 283px;
  }

  .form__explanation-text {
    padding-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    font-size: $title-h3-fs;
    line-height: 30px;
    width: 95%;
  }

  .form__input {
    width: 70%;
  }

  .form__fieldset {
    border: none;
  }

  .form__inner--row {
    justify-content: space-between;
  }

  .form__fieldset--row-w-40 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }

  .form__input--w-icon {
    width: 45%;
    padding-right: 0;
    padding-left: 0;

    &:last-child {
      margin-left: 10%;
    }
  }

  .form__input--w-100 {
    width: 100%;
  }

  .form__item-list--row {
    flex-direction: row;
    justify-content: space-between;

    .form__list-item {
      width: 20%;
    }
  }

  .form__inner-submit-block {
    justify-content: flex-start;
  }

  .form__button {
    width: 568px;
  }
}
