.header {
  background-color: $bg-color;
  color: $base-color;
  font-size: 20px;
  line-height: $secondary-lh;
  overflow: hidden;

  .nav-list {
    display: none;
  }

  .main-nav__toggle {
    display: block;
  }

  .nav-list--active {
    border-top: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.header--nojs {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $border-color;
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }
}

.header__link {
  padding-bottom: 15px;
  padding-top: 11px;
  display: block;
  width: 191px;
  height: 39px;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 191px 39px;
  margin-bottom: 16px;
  margin-left: 19px;
}

.header__link[href] {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    font-size: 18px;
    line-height: 25px;

    .main-nav__toggle {
      display: none;
    }

    .nav-list {
      display: flex;
    }
  }

  .header--nojs {
    .nav-list {
      display: flex;
      padding-left: 93px;
      border: none;
      width: auto;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      margin-top: 11px;
    }
  }

  .header__link {
    background-image: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
    background-size: 174px 59px;
    margin-right: auto;
    margin-left: 29px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background: none;
    background-color: $white;
    font-size: $title-h3-fs;
    line-height: $title-h3-lh;

    &::after {
      display: none;
    }
  }

  .header--nojs {
    .main-nav {
      padding: 0;
      padding-top: 53px;
      padding-right: 14px;
      padding-left: 0;
    }

    .nav-list {
      flex-grow: 0;
      padding-left: 80px;
      margin-right: 0;
      margin-top: 14px;
      width: 46%;
    }
  }

  .header__link {
    margin-right: auto;
    margin-bottom: 0;
    background-image: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
    background-size: 203px 60px;
    margin-left: 40px;
  }

  .header--index {
    font-size: $title-h3-fs;
    line-height: $title-h3-lh;
    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, $white 50%, $bg-green 50%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 726px 696px, auto;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, $white 50%, $bg-green 50%);
    }

    .header__link {
      margin-right: auto;
      margin-bottom: 0;
      background-image: url("../img/logo-desktop.svg");
      width: 203px;
      height: 60px;
      background-size: 203px 60px;
      margin-left: 0;
    }

    .main-nav {
      padding-right: 120px;
    }
  }
}
