.header {
  background-color: $bg-color;
  color: $base-color;
  font-size: $header-fs;
  line-height: $header-lh;
}

.header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
