.header {
  background-color: $bg-color;
  color: $base-color;
  font-size: 20px;
  line-height: $secondary-lh;
}

.header__link {
  padding-bottom: 15px;
  padding-top: 11px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    font-size: 18px;
    line-height: 25px;
  }
}
