.homepage {
  background: linear-gradient(to bottom, $bg-green 304px, $white 304px);
  color: $alt-base-color;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 305px;
  font-size: $body-fs;
  line-height: 14px;
}

.homepage__inner {
  padding-top: 25px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  background-color: transparent;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    // я немного не понял нужно,ли что то делать с background-size увеличивать на два или просто прописывать или вообще 2x картинка значит там всё как надо
    background-size: 320px 305px;
  }
}


.homepage__title {
  font-size: $title-h1-fs;
  line-height: 36px;
  color: $white;
  padding-bottom: 25px;
}

.homepage__text {
  text-transform: uppercase;
  font-family: $main-font;
  color: $white;
  padding-bottom: 29px;
}

.homepage__button {
  font-size: 14px;
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .homepage {
    background: none;
    background-color: $white;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .homepage__inner {
    background-image: none;
    text-align: left;
    padding-top: 56px;
    padding-left: 118px;
    min-height: 864px;
  }

  .homepage__title {
    font-size: $big-title-fs;
    width: 70%;
    line-height: $title-h1-lh;
    color: $base-color;
    padding-bottom: 41px;
  }

  .homepage__text {
    color: $base-color;
    font-size: 20px;
    line-height: $secondary-lh;
    padding-bottom: 45px;
  }

  .homepage__img {
    display: none;
  }

  .homepage__button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: $secondary-lh;
  }
}

@media (min-width: $desktop-width) {
  .homepage {
    display: flex;
    min-height: 582px;
    padding-top: 0;
    background-image: none;
    background-color: transparent;
  }

  .homepage__inner {
    background-image: url("../img/index-can-desktop@1x.png");
    background-color: transparent;
    background-position: 559px 27px;
    background-size: 552px 499px;
    background-repeat: no-repeat;
    padding-left: 190px;
    padding-top: 26px;
    min-height: 582px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .homepage__title {
    padding-top: 80px;
    padding-bottom: 43px;
    padding-right: 30%;
  }

  .homepage__text {
    padding-bottom: 50px;
  }

  .homepage__button {
    width: 245px;
    height: 52px;
  }
}
