.homepage {
  background: $green;
  color: $alt-base-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 305px;
  font-size: $body-fs;
  line-height: 14px;
}

.homepage__title {
  font-size: $title-h1-fs;
  line-height: 36px;
  color: $white;
}

.homepage__text {
  text-transform: uppercase;
  font-family: $main-font;
  color: $white;
}
