.inner {
  width: $mobile-width;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  margin: 0 auto;
  border: 1px solid black;
}

@media (min-width: $tablet-width) {
  .inner {
    width: $tablet-width;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .inner {
    width: $desktop-width;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}
