.main__title {
  font-size: $title-h1-fs;
  line-height: $title-h1-lh;
  margin-top: 30px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .main__title {
    font-size: $big-title-fs;
  }
}
