.product-card {
  border-top: 1px solid $border-color;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.product-card__link {
  width: 50%;
}

.product-card__descr-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card__title {
  text-transform: uppercase;
  font-size: $title-h4-fs;
  line-height: $title-h4-lh;
  padding-right: 45%;
  padding-bottom: 18px;
}

.product-description {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card {
    border: none;
    width: 45%;
    background-color: $alt-bg-color;
    flex-direction: column;
  }


  .product-card__title {
    text-align: center;
    font-size: $title-h3-fs;
    line-height: 20px;
    padding-right: 25%;
    padding-left: 25%;
  }

  .product-card__descr-block {
    width: 100%;
  }

  .product-description {
    font-size: $secondary-fs;
    line-height: 16px;
  }

  .product-description__table-row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $border-color;
  }

  .product-description__table-cell:first-child {
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .product-card__order-button {
    width: 169px;
  }

  .product-card__title {
    text-align: center;
  }
}
