.progress {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $secondary-fs;
  line-height: $secondary-lh;
  width: 100%;
}

.progress__image-slides {
  overflow: hidden;
  position: relative;
  padding-bottom: 21px;
  padding-top: 7px;
}

.progress__slides-list {
  display: flex;
}

.progress__result {
  flex-shrink: 0;
  background-position: 0 -8px;
  background-repeat: no-repeat;

  &--before {
    position: absolute;
    width: 312px;
    height: 232px;
    background-image: url("../img/before-mobile@1x.png");
    background-size: 312px 232px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/before-mobile@2x.png");
    }
  }

  &--after {
    opacity: 0;
    width: 311px;
    height: 232px;
    background-image: url("../img/after-mobile@1x.png");
    background-size: 311px 232px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/after-mobile@2x.png");
    }
  }
}

.progress__input {
  display: none;
}

.progress__slider-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8.5px;
  padding-bottom: 18px;
}

.progress__slider-button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  border-bottom: 1px solid transparent;
  font-size: inherit;
  padding-left: 10px;
  padding-right: 5px;
}

.progress__slider-button:hover {
  border-bottom: 1px solid $color-text;
}

.progress__slider-line {
  @include box(84px, 14px);
  background-color: $bg-color;
  border-radius: $slider-line-br;
  border: 1px solid $border-color;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.progress__slider-thumb {
  @include box(35px, 6px);
  background-color: $green;
  border-radius: $slider-thumb-br;
  position: absolute;
  top: 25%;
  left: 6px;
}

@media (min-width: $tablet-width) {
  .progress {
    font-size: 20px;
    line-height: $secondary-lh;
    padding-bottom: 66px;
    padding-top: 47px;
  }

  .progress__image-slides {
    width: 100%;
    min-height: 517px;
  }

  .progress__result {
    width: 636px;
    min-height: 517px;
    position: absolute;
    top: 0;
    left: 5%;
    background-position: 0 0;

    &--before {
      background-image: url("../img/before-tablet@1x.png"), linear-gradient(to bottom, $white 26.7%, $alt-bg-color 26.7%);
      background-size: 636px 517px, 100% 100%;
      z-index: 2;
      width: 45%;
      opacity: 1;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/before-tablet@2x.png"), linear-gradient(to bottom, $white 26.7%, $alt-bg-color 26.7%);
      }
    }

    &--after {
      background-image: url("../img/after-tablet@1x.png");
      background-size: 636px 517px;
      opacity: 1;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/after-tablet@2x.png"), linear-gradient(to bottom, $white 26.7%, $alt-bg-color 26.7%);
      }
    }
  }

  .progress__slider-controls {
    width: 100%;
    justify-content: flex-start;
    padding-top: 21px;
  }

  .progress__input {
    display: block;
    flex-grow: 1;
    background: transparent;
    appearance: none;

    &::-webkit-slider-thumb {
      appearance: none;
      border: 12px solid $white;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-shadow: $checkable-inputs-bs;
      background-color: $bg-green;
      margin-top: -13px;
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      background-color: #dcdcdc;
      border-radius: 2.5px;
      border: none;
    }

    &::-moz-range-thumb {
      border: 10.5px solid $white;
      width: 10.5px;
      height: 10.5px;
      border-radius: 50%;
      box-shadow: $checkable-inputs-bs;
      background-color: $bg-green;
    }

    &::-moz-range-track {
      height: 6px;
      background-color: #dcdcdc;
      border-radius: 2.5px;
      border: none;
    }

    &:focus {
      outline: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
      height: 6px;
      background-color: #dcdcdc;
      border-radius: 2.5px;
      border: none;
      margin-top: 15px;
      margin-bottom: 20px;
      transform: translateY(6px);
    }

    &::-ms-thumb {
      border: 10.5px solid $white;
      width: 10.5px;
      height: 10.5px;
      border-radius: 50%;
      box-shadow: $checkable-inputs-bs;
      background-color: $bg-green;
    }

    &::-ms-fill-lower {
      background: transparent;
    }

    &::-ms-fill-upper {
      background: transparent;
    }
  }

  .progress__slider-button:first-of-type {
    padding-left: 66px;
    margin-right: 17px;
  }

  .progress__slider-button:last-of-type {
    padding-right: 70px;
  }

  .progress__slider-line {
    display: none;
  }

  .progress__slider-thumb {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .progress {
    width: 50%;
    padding-top: 0;
    // не придумал как маринами/паддингами спозиционировать,вообще мне кажется,что в целом у меня с десктопной версиией что то не так шрифты не сходятся с макетом и пиксельперфектом размеры тоже маргины большие и паддинги лучше дождусь коментария
    margin-top: -124px;
  }

  .progress__image-slides {
    min-height: 541px;
    padding: 0;
  }

  .progress__result {
    min-height: 589px;
    top: 10px;
    left: -12px;

    &--before {
      background-image: url("../img/before-desktop@1x.png"), linear-gradient(to bottom, $white 33.2%, $alt-bg-color 33.2%);
      background-size: 636px 499px, 100%;
      height: 499px;
      width: 50%;
      background-color: $bg-color;
      background-position: -9px 0, center;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/before-desktop@2x.png"), linear-gradient(to bottom, $white 33.2%, $alt-bg-color 33.2%);
      }
    }

    &--after {
      background-image: url("../img/after-desktop@1x.png");
      background-size: 642px 517px;
      height: 517px;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/after-desktop@2x.png");
      }
    }
  }

  .progress__slider-button:first-of-type {
    margin-right: 19px;
    padding-left: 39px;
  }

  .progress__slider-button:last-of-type {
    margin-right: -5px;
  }
}
