.program-list {
  font-size: $program-list-fs;
  line-height: $program-list-lh;
}

.program {
  background-color: $alt-bg-color;

  &:first-of-type {
    margin-bottom: 20px;
  }
}

.program__illustration {
  background-color: $green;
  border-radius: 50%;

  @include box(50px, 50px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.program__title {
  font-size: $program-title-fs;
  line-height: $program-title-lh;
}

.program__link {
  position: relative;
  display: block;
  padding-top: 18.5px;
  padding-bottom: 19.5px;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
  font-size: $program-list-fs;
  line-height: $program-list-lh;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 95px;

    @include box(25px, 12px);
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
