.show-more {
  border-top: 1px solid $border-color;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-more__icon {
  background-image: url("../img/icon-plus-mobile.svg");
  width: 31px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 31px;
  opacity: 0.2;
}

.show-more__title {
  padding-top: 12px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: $title-h4-fs;
  line-height: 18px;
}

.show-more__text {
  padding-bottom: 22px;
}

.show-more__button {
  background-color: $alt-bg-color;
  color: $color-text;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .show-more {
    width: 45%;
    border: 1px solid $border-color;
    justify-content: flex-start;
    padding-top: 41px;
    padding-bottom: 39px;
    font-size: $secondary-fs;
  }

  .show-more__icon {
    width: 61px;
    height: 61px;
    background-size: 61px 61px;
  }

  .show-more__title {
    font-size: $title-h3-fs;
    line-height: $secondary-lh;
    width: 50%;
    padding-top: 29px;
    text-align: center;
    padding-bottom: 29px;
  }

  .show-more__text {
    width: 70%;
    text-align: center;
    padding-bottom: 89px;
    padding-right: 6px;
  }

  .show-more__button {
    margin-top: auto;
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
    padding-bottom: 37px;
  }

  .show-more__title {
    width: 60%;
    padding-top: 33px;
  }

  .show-more__text {
    width: 75%;
  }

  .show-more__button {
    width: 169px;
  }
}
