html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $main-font;
  font-size: $body-fs;
  line-height: $body-lh;
  font-weight: $font-normal;
  color: $color-text;
  background-color: $bg-color;
  counter-reset: product;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $base-color;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
