$main-font: "Oswald", "Arial", sans-serif;
$alt-font: "Arial", sans-serif;
$base-color: #111111;
$color-text: #444444;
$icons-color: #666666;
$alt-base-color: #ffffff;
$bg-color: #ffffff;
$alt-bg-color: #f2f2f2;
$border-color: #d9d9d9;
$font-normal: 400;
$font-bold: 500;
$green: #68b738;
$invalid: #ff8282;
