$main-font: "Oswald", "Arial", sans-serif;
$alt-font: "Arial", sans-serif;
$base-color: #111111;
$color-text: #444444;
$label-color:#222222;
$icons-color: #666666;
$alt-icons-color:#222222;
$alt-base-color: #ffffff;
$bg-color: #ffffff;
$alt-bg-color: #f2f2f2;
$border-color: #d9d9d9;
$font-normal: 400;
$font-bold: 500;
$green: #68b738;
$bg-green:#65a93c;
$white:#ffffff;
$invalid: #ff8282;
$body-fs:14px;
$body-lh:18px;
$secondary-fs:16px;
$secondary-lh:20px;
$big-title-fs:60px;
$title-h1-fs:36px;
$title-h1-lh:60px;
$title-h2-fs:24px;
$title-h2-lh:24px;
$title-h3-fs:20px;
$title-h3-lh:25px;
$title-h4-fs:16px;
$title-h4-lh:20px;
$title-h5-fs:16px;
$title-h5-lh:16px;
$slider-line-br:6px;
$slider-thumb-br:3px;
$checkable-inputs-bs:0 3px 5px 0 rgba(0, 0, 0, 0.25);
$mobile-width:320px;
$mobile-padding:20px;
$tablet-width:768px;
$desktop-width:1440px;
$tablet-padding:30px;
$desktop-padding:110px;
