$main-font: "Oswald", "Arial", sans-serif;
$alt-font: "Arial", sans-serif;
$base-color: #111111;
$color-text: #444444;
$label-color:#222222;
$icons-color: #666666;
$alt-icons-color:#222222;
$alt-base-color: #ffffff;
$bg-color: #ffffff;
$alt-bg-color: #f2f2f2;
$border-color: #d9d9d9;
$font-normal: 400;
$font-bold: 500;
$green: #68b738;
$white:#ffffff;
$invalid: #ff8282;
$body-fs:14px;
$body-lh:18px;
$button-fs:16px;
$button-lh:20px;
$header-fs:20px;
$header-lh:20px;
$footer-fs:16px;
$footer-lh:20px;
$adress-fs:14px;
$adress-lh:20px;
$adress-title-fs:16px;
$adress-title-lh:20px;
$title-h1-fs:36px;
$title-h1-lh:60px;
$title-h2-fs:36px;
$title-h2-lh:60px;
$alt-title-h2-fs:24px;
$alt-title-h2-lh:24px;
$title-h3-fs:16px;
$title-h3-lh:20px;
$alt-title-h3-fs:16px;
$alt-title-h3-lh:16px;
$homepage-fs:14px;
$homepage-lh:14px;
$homepage-title-fs:36px;
$homepage-title-lh:36px;
$program-list-fs:14px;
$program-list-lh:18px;
$program-title-fs:24px;
$program-title-lh:37px;
$program-link-fs:16px;
$program-link-lh:16px;
$explanation-fs:14px;
$explanation-lh:18px;
$demonstration-fs:14px;
$demonstration-lh:18px;
$demonstration-caption-lh:20px;
$slider-line-br:6px;
$slider-thumb-br:3px;
$stats-value-fs:24px;
$stats-value-lh:24px;
$stats-subtitle-fs:12px;
$stats-subtitle-lh:12px;
$catalog-fs:12px;
$catalog-lh:16px;
$additional-products-fs:16px;
$additional-products-lh:16px;
$additional-products-table-fs:14px;
$additional-products-table-lh:14px;
$bonuses-fs:16px;
$bonuses-lh:20px;
$form-fs:16px;
$form-lh:20px;
$form-text-fs:14px;
$form-legend-fs:24px;
$form-legend-lh:24px;
$form-explanation-fs:14px;
$form-explanation-lh:16px;
$checkable-inputs-bs:0 3px 5px 0 rgba(0, 0, 0, 0.25);
